/* Fonts */
@import "fonts";

/* Libraries */
@import "libs";

// SCSS Varibles
$main-font: "Roboto", sans-serif;
$main-color: tomato;

/* Global styles */
::placeholder {
  color: #666;
}

::selection {
  background-color: $main-color;
  color: #fff;
}

body {
  font-family: $main-font;
  background-color: $main-color;
}

input,
textarea {
  border: #666 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Media queries */
@import "responsive";
