// SCSS Varibles
//
// Fonts
$main-font: "Roboto",
sans-serif;
//
// Colors
$main-white: #fff;
$main-black: #000;
$secondary-black: #333;
//
// Utilites
$transparent: rgba(0, 0, 0, 0);
$shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);

/* ===== Fonts ===== */
@import "fonts";

/* ===== Libraries  ===== */
@import "libs";

/* ===== Global Styles ===== */
@import 'global';

/*=============================================
               =   Header   =
=============================================*/

.header {}

/*=============================================
               =   Section   =
=============================================*/

.section {}

/*=============================================
               =   Section   =
=============================================*/

.footer {}

/* ===== Media Queries ===== */
@import "responsive";